
<section class="product">
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main" style="margin-left: 64px; margin-right: 64px;">
                <div class="item" *ngFor="let item of listSlides">
                    <p class="title">{{item.name}}</p>
                    <img src="assets/icons/domicilio.svg" style="height: 15px;">
                    &nbsp;
                    <span class="light-txt">{{item.location}}</span>
                    <img [src]="item.image" class="img"> 
                    <div class="bar-contain">
                        <div class="bar-progress"></div>
                    </div>
                    <p class="price">{{item.prices}}</p>
                    <p class="green-txt">{{item.rentability}}</p>
                    <span class="txt-span">{{item.text}}</span>
                    <div style="margin-top: 32px;">
                        <button mat-flat-button color="primary" style="width: 100%;">Invertir</button>
                    </div>
                </div>
            </div>
            <div class="button-area">
                <img type="button" class="prev" appPrev src="assets/icons/previous-row.svg" width="30px">
                <img type="button" class="next" appNext src="assets/icons/next-row.svg" width="30px">
            </div>
        </div>
    </div>
</section>