mat-sidenav-container{
    height: 100%;

    mat-sidenav{

        mat-nav-list{

            .chevron-button{
                transition: 300ms ease-in-out;
                transform: rotate(0deg);
                left: 1;
                float: left;
                position: absolute;
            }

            .chevron-button.rotated{
                transform: rotate(180deg);
            }

            mat-icon{
                color: #152062;
            }

        }
    }
}

.text-primary{
    font-size: 23px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.46px;
    text-align: left;
    color: #152062;
}

.txt-min{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(21, 32, 98, 0.5);
}

.footer{
    position: absolute;
    bottom: 0;
    font-size: 9px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: rgba(21, 32, 98, 0.5);
    padding-bottom: 44px;
    margin-left: 16px;
    text-align: center;
}