
<div class="flex-center" style="height: 75%;">
    <div class="form-contain">
        <div class="title">
            <mat-icon mat-list-icon >
                <img src="assets/icons/mis_datos-1.svg">
            </mat-icon>
            <span>Datos generales</span>
            <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </div>

        <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <div class="contain-input">
                <input matInput placeholder="Nombre(s)" formControlName="name" name="name" type="text">
                &nbsp;&nbsp;
                <input matInput placeholder="Apellidos" formControlName="lastname" name="lastname" type="text">
            </div>
            <div class="contain-input" style="max-height: 46px;">
                <input matInput placeholder="Día" class="m-w20" formControlName="date" name="date" type="text">
                &nbsp;&nbsp;
                <input matInput placeholder="Edad" class="m-w20" formControlName="age" name="age" type="text">
                &nbsp;&nbsp;
                <input matInput placeholder="Género" class="m-w20" formControlName="gender" name="gender" type="text">
                &nbsp;&nbsp;

                <div style="margin-left: 8px;">
                    <span class="txt-span"> Nacionalidad</span> <br>
                        <div style="display: flex; align-items: flex-end">
                            <input type="radio" name="country" formControlName="country" value="Mexicana">
                            <span>Mexicana</span>
                                &nbsp;&nbsp;
                            <input type="radio" name="country" formControlName="country" value="Extranjera">
                            <span>Extranjera</span>
                        </div>
                </div>

            </div>

            <div class="contain-input">
                <input matInput placeholder="Domicilio" formControlName="direction" name="direction" type="text"> 
            </div>

            <div class="contain-input">
                <input matInput placeholder="Teléfono Móvil" formControlName="mobile" name="mobile" type="number">
                &nbsp;&nbsp;
                <input matInput placeholder="Teléfono Fijo" formControlName="phone" name="phone" type="number">
            </div>

            <div class="contain-input">
                <input matInput placeholder="RFC" formControlName="rfc" name="phone" type="text">
                &nbsp;&nbsp;
                <input matInput placeholder="CURP" formControlName="curp" name="curp" type="text">
            </div>

            <div class="contain-input">
                <input matInput placeholder="Actividad Económica" formControlName="ocupation" name="ocupation" type="text">
            </div>          

            <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid" *ngIf="!loading">Guardar cambios</button>
            
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

        </form>

    </div>
</div>
<div class="flex-center">
    <section>
        <div class="row-grid">
            <img src="assets/icons/notificaciones-1.svg">
            <span>Documentos de identificación</span>
        </div>
        <div class="row-grid">
            <img src="assets/icons/notificaciones-1.svg">
            <span>Cuenta bancaria</span>
        </div>
    </section>
    <section>
        <div class="row-grid">
            <img src="assets/icons/notificaciones-1.svg">
            <span>Contrato</span>
        </div>
        <div class="row-grid">
            <img src="assets/icons/notificaciones-1.svg">
            <span>Beneficiarios</span>
        </div>
    </section>
</div>