
body > app-root > app-wrapper > mat-sidenav-container > mat-sidenav{
    margin-top: 32px;
    margin-bottom: 32px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 30px 0 rgba(69, 169, 255, 0.24);
}

.mat-drawer.mat-drawer-side{
    border: none;
}

.container-scroller {
    overflow: hidden;
}

.contain-btn{

    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: -35px;
}

.btn-call{
    width: 56.2px;
    height: 56.1px;
    background-image: linear-gradient(to right, #ff87a7 0%, #ff4778 100%);
    border-radius: 50%;
}
